<form [formGroup]="signInForm">
  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-user"></i>
    </p-inputgroup-addon>
    <input pInputText formControlName="login" />
  </p-inputgroup>

  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-lock"></i>
    </p-inputgroup-addon>
    <p-password
      formControlName="password"
      [toggleMask]="true"
      feedback="false"
    />
  </p-inputgroup>
</form>

<p-button
  label="Sign In"
  [disabled]="signInForm.invalid"
  (onClick)="signIn()"
  routerLink="/welcome"
></p-button>
