<form [formGroup]="signUpForm">
  <p-inputgroup>
    <input
      pInputText
      type="text"
      formControlName="login"
      [placeholder]="'LOGIN' | translate"
    />
  </p-inputgroup>
  <p-inputgroup>
    <input
      pInputText
      type="text"
      formControlName="name"
      [placeholder]="'NAME' | translate"
    />
  </p-inputgroup>
  <p-inputgroup>
    <input
      pInputText
      type="text"
      formControlName="surname"
      [placeholder]="'SURNAME' | translate"
    />
  </p-inputgroup>
  <p-inputgroup>
    <input
      pInputText
      type="text"
      formControlName="email"
      [placeholder]="'EMAIL' | translate"
    />
  </p-inputgroup>
  <p-inputgroup>
    <input
      pInputText
      type="text"
      formControlName="phone"
      [placeholder]="'PHONE' | translate"
    />
  </p-inputgroup>
  <p-inputgroup>
    <input
      pInputText
      type="text"
      formControlName="password"
      [placeholder]="'PASSWORD' | translate"
    />
  </p-inputgroup>
  <p-inputgroup>
    <input
      pInputText
      type="text"
      formControlName="confirmPassword"
      [placeholder]="'CONFIRMPASSWORD' | translate"
    />
  </p-inputgroup>
</form>

<p-button
  label="Sign Up"
  [disabled]="formInvalid"
  (onClick)="signUp()"
></p-button>
