.theme-toggle {
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Эффект при наведении */
.theme-toggle:hover {
  transform: scale(1.1);
}
